html, body {
    height: 100%;
    margin: 0;
    font-family: "Akt", sans-serif;
}

body {
    background: linear-gradient(67deg, #230067, #5a0067);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #ffffff;
    font-optical-sizing: auto;
    font-weight: 670;
    font-style: normal;
    font-size: 33.5vw;
    margin: 0;
}

h2 {
    color: #ffffff;
}

p {
    color: #ffffff;
    font-family: "Akt", sans-serif;
    font-optical-sizing: auto;
    font-weight: 670;
    font-style: normal;
}

#bottombar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.452);
    
    transform: translateY(100%);
    transition: transform 3s ease;
}

#bottombar.show {
    transform: translateY(0);
}

.dialogleave {
    width: 100%;
    background-color: black;
    border-color: transparent;
    color: white;
    font-family: "Akt", sans-serif;
    cursor: pointer;
}

.barbutton {
    background-color: #0000005e;
    color: #ffffff;
    font-family: "Akt", sans-serif;
    width: 20%;
    height: 100%;
    font-size: 2vw;
    box-shadow: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.barbutton:hover {
    background-color: #6767675e;
}

#tabascojokes {
    background-color: #000000;
}

#tabascoleave {
    background-color: white;
    color: black;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
